.cart-list {
    margin-top: 7em;
    .cart {
        margin: 2em 0;
    }

    .total {
        font-size: 2rem;
        font-weight: bold;
    }

    .checkout-btn {
        background-color: black;
        color: white;
        border: none;
        padding: .8em 2em;
        margin-top: 1em;
        border-radius: 5px;
        cursor: pointer;
    }
}