header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5em 0;
    background-color: rgb(12, 12, 32);
    .container {
         display: flex;
         align-items: center;
         justify-content: space-between;

        .link {
            position: relative;
            color: white;
            
            .cart-length {
                padding: .2em .5em;
                border-radius: 50%;
                background-color: blue;
                color: white;
                position: absolute;
                font-weight: bold;
                top: -15px;
                right: -20px;
            }            
        }
    }
}

@media screen and (max-width:380px) {
    header {
        .container {
            .link {
                .cart-length {
                    top: -17px;
                    right: -15px;
                }
            }
        }
    }
}